/****** General ***********/
* {
    font-family: "Roboto";
    font-weight: 400;
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: #000000; 
    box-sizing: border-box;
}

/****** header ***********/
header {
    display: flex;
    justify-content: center;
    margin: 20px 0px 10px 0px;
    align-items: center;
}
  
header i {
    position: absolute;
    left: 20px;
    top: 22px
}
  
/****** location ***********/
.location {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 17px;
    background-color: #EAEAEA;
    padding: 20px;
}

/****** section information ***********/
.section-information {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #F6F6F6;
}
    
.section-information h2 {
    margin-top: 39px;
    margin-bottom: 0;
    width: 70%;
    font-weight: 700;
}
    
.section-information p {
    font-size: 18px;
    font-weight: 300;
    padding: 10px 20px 0px 20px;
}

/******* button ********/
.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 218px;
    margin: 40px auto 50px;
    padding: 15px 0px 15px 0px;
    font-weight: 600;
    border-radius: 25px;
    color: white;
    text-decoration: none;
    background: linear-gradient(359deg, #9356DC -11.44%, #FF79DA 123.93%);
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
}
  
.btn:hover {
    opacity: 0.85;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
}

/******* section functioning ********/
.section-functioning {
    background-color: #FFF;
    display: flex;
    flex-direction: column;
    margin: 48px 25px 68px 35px;
}
  
.section-functioning h1, p {
    font-weight: 600;
}
  
.section-functioning-content {
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-top: 30px;
}
   
.bar-functioning {
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 100%;
    background-color: #F6F6F6;
    border-radius: 20px;
    padding: 28px 20px 28px 30px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}
    
.bar-functioning::before {
    content: "1";
    background-color: #9356dc;
    color: #FFF;
    font-size: 15px;
    line-height: 26px;
    border-radius: 100%;
    width: 24px;
    left: -15px;
    position: absolute;
    text-align: center;
}

.bar-functioning:nth-child(2)::before {
    content: "2";
}
  
.bar-functioning:nth-child(3)::before {
    content: "3";
}

.bar-functioning .fa-store {
    color: #9356dc;
}

/******* section rectaurant ********/
.section-restaurant {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
    background-color: #F6F6F6;
    padding-top: 49px ;
    padding-left: 20px;
    padding-bottom: 60px;
    padding-right: 0px;
}
  
.restaurant-content {
    display: flex;
    flex-direction: column;
    padding: 0 18px 0px 0px;
    gap: 18px;
}

/******* label new ********/
.new {
    width: 4.5rem;
    height: 28px;
    background-color: #99e2d0;
    font-size: 0.875rem;
    color: #10392f;
    position: absolute;
    top: 18px;
    right: 20px;
    display: grid;
    justify-content: center;
    place-items: center;
}

/******* card ********/
.card img {
    width:100%;
    height: 175px;
    object-fit: cover; 
    border-radius: 15px 15px 0px 0px;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
}
  
.card {
    width:100%;
    border-radius: 15px;
    background-color: #ffffff;
    padding-bottom: 10px; 
    position: relative;
}
    
.card-txt {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.card-txt {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
    
.card-title {
    font-size: 20px;
    font-weight: 700;
    margin-left: 15px;
    margin-top: 15px;
 }
      
.card-subtitle {
    font-size: 15px;
    font-weight: 350;
    margin-left: 15px;
}
  
.card i {
    font-size: 28px;
    right: 20px;
    position: absolute;
    top: 198px;
}

/******* footer ********/
footer  {
    display: flex;
    flex-direction: column;
    background-color: #353535;
    padding: 15px;
    padding-bottom: 15px;
}
  
footer h3 {
    color: white;
    font-family: 'Shrikhand';
    font-size: 20px;
    padding: 10px 10px ;
    font-weight: 600;
}
  
footer article {
    font-weight: 500;
    color: white;
}
  
footer section  {
    display: flex;
    flex-direction: column;
    padding-top: 5px;
}

footer a {
    color: white;
    margin: 5px 10px;
    font-weight: 400;
}
  
footer .space  {
    display: flex;
    flex-direction: column;  
}
  
footer i {
    width: 22px;
    font-size: 16px;
    color: white;
}

/******* menu ********/
.menu {
    background-color: #f6f6f6;
    border-radius: 20px 20px 0 0;
    padding-bottom: 1px;
    width: 100%;
}
  
.menu-img {
    margin-bottom: -62px;
    z-index: -10;
    position: relative;
    width: 100%;
}
  
.menu-img img {
    width: 100%;
    height: 238px;
    object-fit: cover; 
}
  
.menu-title {
    display: flex;
    flex-direction: row;
    gap: 30px;
    padding-top: 40px;
    padding-left: 20px;
}

.menu-title i {
    padding-top: 8px;
    font-size: 25px;
}

.menu-title h1 {
    font-family: 'Shrikhand';
    font-weight: 600;
    font-size: 30px;
}

.menu h4 {
    padding: 30px 0 0px 0px;
    margin:0px 0px 30px 10px;
    width: 35px;
    border-bottom: 3px solid #99e2d0;
}

.menu-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding: 0px 10px 0px 10px;
}

.plate {
    background-color:#fffffF;
    border-radius: 15px;
    display: flex;
    gap: 5px;
    position: relative;
    overflow: hidden;  
    box-shadow: 0px 4px 15px 0 #e6e6e6;
}
  
.plate:hover .plate-check {
    transform: translateX(-62px);
    transition: transform 750ms ease;
}
  
.plate:hover .plate-price {
    transform: translateX(-62px);
    transition: transform 750ms ease;
}
  
.plate-content {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.plate-title {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 9px;
}

.plate-title h3 {
    font-weight: 500;
    font-size: 19px;
}

.plate-title p {
    font-weight: 300;
    font-size: 15px;
}

.plate-price {
    font-weight: 500;
    position: absolute;
    top: 43px;
    right: 20px;
    font-size: 15px;
    transform: translateX(0px);
    transition: transform 750ms ease;
}

.plate-check {
    background-color: #99e2d0;
    min-width: 60px;
    height: 77px;
    border-radius: 0 15px 15px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: -62px;
    transform: translateX(0px);
    transition: transform 750ms ease;
}

.plate-check i {
    color: #ffffff;
}
  
.entrees-anim {
    opacity: 0;
    animation: entrees 1s ease forwards ;
}
  
@keyframes entrees {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
  
.plats-anim {
    opacity: 0;
    animation: plats 1s ease forwards 2000ms;
}
  
@keyframes plats {
    from {
        transform: translateY(-100%); 
        opacity: 0;
}
    to {
        transform: translateY(0); 
        opacity: 1;
    }
}
  
.desserts-anim {
    opacity: 0;
    animation: desserts 1s ease forwards 3000ms;
}
  
@keyframes desserts {
    from {
      transform: translateY(-100%); 
      opacity: 0;
    }
    to {
      transform: translateY(0); 
      opacity: 1;
    }
  }
  
.menu .btn {
    width: 150px;
    margin-bottom: 40px;
}
  
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (min-width: 1024px) {

    /****** header ***********/
    header  {
        margin-bottom: 20px;
    }

    /****** section information ***********/
    .section-information .btn {
        margin: 40px auto 40px;
    }

    /******* section functioning ********/
    .section-functioning {
        margin: 48px 145px 68px 145px;
    }
    
    .section-functioning-content { 
        display: flex;
        flex-direction: row;
        gap: 35px;
    }
    .bar-functioning {
        padding: 28px 0px 28px 25px;
    }

    /******* section rectaurant ********/
    .section-restaurant {
        display: flex;
        flex-direction: column;
        padding: 20px 130px 30px 130px;
    }

    .restaurant-content {
        display: flex;
        flex-direction: row;
        gap: 90px;
        margin-bottom: 30px;
        width: 100%
      }
     
     /******* footer ********/
    footer  {
        flex-direction: row-reverse;
        padding-top: 45px;
        gap: 60px;
    } 
    
    footer section  {
         display: flex;
         flex-direction: row;
    }
      
    footer .space  {
        flex-direction: row;
        gap: 5px;
        padding-left: 40px;
    }
    
    footer a {
        margin: 5px 5px;
    }
        
    footer h3 {
        padding-top: 0px ;
    }
    
    /******* menu ********/
    .menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 60%;
        padding: 0px 100px 0px 100px;
    } 
  
    .menu-img img {
        height: 530px;
    }
    
    .menu-content {
       width: 550px;
    }  
}     

    
  
       
