/******* loader ********/
@keyframes loader {
    0% {
        background-color: rgba(249, 248, 248, 0.8);
    }
    100% {
        background-color: rgba(249, 248, 248, 0.8);
        display: none;
    }
  }
  @keyframes child2 {
    0% {
        transform: translateX(-30px);
        z-index: 200;
    }
    50% {
        transform: translateX(30px);
    }
    100% {
        transform: translateX(-30px);
    }
  }
  @keyframes child4 {
    0% {
        transform: translateX(30px);
    }
    50% {
        transform: translateX(-30px);
    }
    100% {
        transform: translateX(30px);
        z-index: 200;
    }
  }

/******* heart ********/
@keyframes heart {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

/******* menu ********/
@keyframes entrees {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes plats {
    from {
        transform: translateY(-100%); 
        opacity: 0;
    }
    to {
        transform: translateY(0); 
        opacity: 1;
    }
}

@keyframes desserts {
    from {
        transform: translateY(-100%); 
        opacity: 0;
    }
    to {
        transform: translateY(0); 
        opacity: 1;
    }
} 

    
