/****** location ***********/
.location {
    @include flex-justify;
    gap: 17px;
    background-color: $light-grey;
    padding: 20px;
}

/****** section-information *********/
.section-information {
    @include flex-justify;
    align-items: center;
    text-align: center;
    background-color: $light-grey2;
    
    h2 {
        margin-top: 39px;
        margin-bottom: 0;
        width: 70%;
        font-weight: 700;
    }
  
    p {
        font-size: 18px;
        font-weight: 300;
        padding: 10px 20px 0px 20px;
    }
}

/******* section functioning **********/

.section-functioning {
    background-color: $white ;
    @include flex-column;
    margin: 48px 25px 68px 35px;
  
    h1, p {
        font-weight: 600;
    }
}

.section-functioning-content {
    @include flex-column;
    gap: 25px;
    margin-top: 30px;
} 

.bar-functioning {
    @include flex-row;
    gap: 20px;
    width: 100%;
    background-color: $light-grey2;
    border-radius: 20px;
    padding: 28px 20px 28px 30px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}

.bar-functioning::before {
    content: "1";
    background-color: $primary-color;
    color: $white;
    font-size: 15px;
    line-height: 26px;
    border-radius: 100%;
    width: 24px;
    left: -15px;
    position: absolute;
    text-align: center;
    :nth-child(2)::before { 
       content: "2";
    }
    :nth-child(3)::before {
        content: "3";
    }
    .fa-store {
        color: $primary-color;
  }
} 

/******* section rectaurant ********/
.section-restaurant {
    width: 100%;
    @include flex-column;
    gap: 16px;
    background-color: $light-grey2;
    padding-top: 49px ;
    padding-left: 20px;
    padding-bottom: 60px;
    padding-right: 0px;
  }
  
  .restaurant-content {
      @include flex-column;
      padding: 0 18px 0px 0px;
      gap: 18px;
  }

@media screen and (min-width: 1024px) {

    /****** section information ***********/
    .section-information .btn {
        margin: 40px auto 40px;
    }

    /******* section functioning ********/
    .section-functioning {
        margin: 48px 145px 68px 145px;
        &-content { 
        display: flex;
        flex-direction: row;
        gap: 35px;
      }
    }

    .bar-functioning {
        padding: 28px 0px 28px 25px;
    }

    /******* section rectaurant ********/
    .section-restaurant {
        @include flex-column;
        padding: 20px 130px 30px 130px;
    }

    .restaurant-content {
        @include flex-row;
        gap: 90px;
        margin-bottom: 30px;
        width: 100%
    }
} 
