/****** footer ***********/

footer {
    @include flex-column;
    padding: 15px;
    padding-bottom: 15px;
    background-color: $dark-grey;
   
    & h3 {
        color: $white;
        @include title-font;
        font-size: 20px;
        padding: 10px 10px ;
        font-weight: 600;
    }

    &-section {
        @include flex-column;
        padding-top: 5px;
    }

  &-article {
        font-weight: 500;
        color:$white;
    }

    &.space  {
        @include flex-column;
      }
  
    & a {
        color: $white;
        margin: 5px 10px;
        font-weight: 400;
    }

    & i {
        width: 22px;
        font-size: 16px;
        color: $white;    
    }
}
  
@media screen and (min-width: 1024px) {
    footer {
        flex-direction: row-reverse;
            padding-top: 45px;
            gap: 60px;

        &-section {
            flex-direction: row;
        }
        &.space  {
            flex-direction: row;
            gap: 5px;
            padding-left: 40px;
          }
        & a {
            margin: 5px 5px;
        }
        & h3 {
            padding-top: 0px ;
        }
    }
} 
