/****** header ***********/

header {
    @include flex-justify;
    margin: 20px 0px 10px 0px;
    
    & i {
        position: absolute;
        left: 20px;
        top: 22px
   }
    
    @media screen and (min-width: 1024px) {
        margin-bottom: 20px;
    }
}
