/****** header ***********/

.header {
    display: flex;
    justify-content: center;
    margin: 20px 0px 10px 0px;
    align-items: center;
    
    & i {
        position: absolute;
        left: 20px;
        top: 22px
   }
}