/******* heart ********/

.fa-regular:hover {
    background: linear-gradient(to top,#ff79da, #9356dc);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    animation: heart 1s;
    font-weight: bold;
} 
  