/**Mise ne forme du label "new"**/
.new {
    width: 4.5rem;
    height: 28px;
    background-color: $tertiary-color;
    font-size: 0.875rem;
    color: $new-color;
    position: absolute;
    top: 18px;
    right: 20px;
    display: grid;
    justify-content: center;
    place-items: center;
}