.loader {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 2;
  position: fixed;
  animation: loader 3s ease-in-out;
  animation-fill-mode: both;

  h1 {
    font-family: "Shrikhand";
    color: black;
    font-size: 2rem;
    letter-spacing: 1px;
    font-weight: 200;
    text-align: center;
    margin-top: 40vh;
    padding-bottom: 20px;
  }
  
  span {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    animation: 2.5s infinite linear;
    margin-top: 300px;

    &:nth-child(2) {
      background: linear-gradient(359deg, #9356DC -11.44%, #FF79DA 123.93%);
      animation: span2 1.2s infinite linear;
    }

    &:nth-child(3) {
      background: $tertiary-color;
      z-index: 100;
    }
    
    &:nth-child(4) {
      background:#cc66af;
      animation: span4 1.2s infinite linear;
    }
  }
}
  

@keyframes loader {
  0% {
    background-color: rgba(249, 248, 248, 0.8);
  }
  
  100% {
    background-color: rgba(249, 248, 248, 0.8);
    display: none;
  }
}

@keyframes span2 {
  0% {
    transform: translateX(-30px);
    z-index: 200;
  }
  50% {
    transform: translateX(30px);
  }
  100% {
    transform: translateX(-30px);
  }
}

@keyframes span4 {
  0% {
    transform: translateX(30px);
  }

  50% {
    transform: translateX(-30px);
  }

  100% {
    transform: translateX(30px);
    z-index: 200;
  }
}
